<div class="center hero-unit">

	<h1>Careers</h1>
    <h2>    Home page for my careers information application.  </h2>

    <%= link_to "Sign up now!", "signup_path", class: "btn btn-large btn-primary" %>
</div>



